.portfolio {
  padding-top: 50px;
  text-align: center;
  img {
    max-width: 100%;
    transition: transform 3s;
  }
  .b-result__link{
    display: inline-block;
    margin-top: 30px;
    .inner{
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &_container {
    max-width: 1210px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

    .fa{
      font-size: 42px;
    }

  }
  &_elem {
    margin-left: 15px;
    margin-right: 15px;

  }
}

.front {
  overflow: hidden;
}

.flip-container {
  display: block;
  &:hover {
    .back {
      opacity: 1;
      transform: scale(1);
    }
    img {
      transform: scale(1.2);
    }
  }
}

.flipper {
  position: relative;
}

.back {
  transition: all .25s;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(#4066a4, .5);
  transform: scale(.3);
  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    text-transform: uppercase;
    font-size: 22px;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.slider_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slider_btn--next {
  right: 0;
}

.slider_btn--prev {
  left: 0;
}