.section-text{
  padding-bottom: 50px;
  h2{
    margin: 20px 0;
  }
  p{
    line-height: 1.5;
  }
}

.section-desc-text{
  text-align: center;
  max-width: 707px;
  margin: 0 auto;
  line-height: 1.6;
  padding:0 15px 40px;
  border-radius: 30px;
}

.site-title-block{
  margin-bottom: 30px;
}