$swipe-menu-width: 400px;
$swipe-menu-z-index: 2;
$swipe-menu-transition-in: transform .5s ease-out;
$swipe-menu-transition-out: transform .2s ease-out;
body.is-swipe-menu-shown {
  .toggle-menu {
    visibility: visible;
  }
  .section {
    visibility: visible;
  }
  .swipe-menu {
    transition: $swipe-menu-transition-in;
    transform: translateX(0);
    box-shadow: 0 -2px 5px 2px rgba(0, 0, 0, 0.4);
  }

  .footer-bg,
  .main-content,
  .footer {
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba($black, .7);
      z-index: 40;
    }
  }
}

.menu-btn {
  z-index: $swipe-menu-z-index + 4;
}

.swipe-menu {
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 6;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.arrow-icon {
  height: 1rem;
  width: 2rem;
  display: inline-block;
}

.swipe-menu__list {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  transition: all 0.25s linear;
  > li {
    display: block;
    padding: 1rem 1.3rem;
    white-space: nowrap;

    a {
      display: block;
      font-family: $main-font;
      font-weight: 900;
      transition: all .4s;
      padding: .4rem 0;
      color: #747474;
      font-size: 16px;
      border-bottom: 1px solid transparent;
      &:hover {
        color: #4d70ab;

        border-bottom-color: #4d70ab;
      }
    }
  }
}




//@media only screen and (max-width: $screen-md-max) {
//  .swipe-menu__list {
//    > li {
//      margin-left: 1rem;
//      margin-right: 1rem;
//      a {
//        padding-left: 0.5rem;
//        padding-right: 0.5rem;
//      }
//    }
//  }
//}

@media only screen and (max-width: $screen-md-max) {
  .swipe-menu {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: $swipe-menu-width;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX($swipe-menu-width);
    transition: $swipe-menu-transition-out;
    background-color: $dark-blue;
    margin-top: 0rem;
    z-index: 6;

  }
  .swipe-menu__list {
    display: block;
    margin: 0 auto;
    li:first-child {
      margin-top: 110px;
    }
    > li {
      margin-bottom: 45px;

      a {
        font-size: 23px;
        &:hover {
          color: #000;
          background: transparent;
          box-shadow: none;
        }
      }
    }
  }
}
