$html-font-size: 62.5%;

/* breakpoints */

$screen-xs: 0 !default; // 0
//// Small screen / tablet
$screen-sm: 36em !default; // 576px
//// Medium screen / desktop
$screen-md: 48em !default; // 768px
//// Large screen
$screen-lg: 62em !default; // 992px
//// Extra large screen
$screen-xl: 75em !default; // 1200px
//// Super extra large screen
$screen-xlg: 87.5em !default; // 1600px
$grid-breakpoints: ( xs: 0, sm: $screen-sm, md: $screen-md, lg: $screen-lg, xl: $screen-xl) !default;
$content-max-width: 160rem !default;
$content-min-width: 30rem !default;
//$screen-xs-min: $screen-xs !default; // from 768
$screen-sm-min: $screen-sm !default; // from 577px
$screen-md-min: $screen-md !default; // from 769px
$screen-lg-min: $screen-lg !default; // from 993px
$screen-xl-min: $screen-xl !default; // from 1201px
$screen-xs-max: ($screen-sm - 0.0625) !default; // till 575
$screen-sm-max: ($screen-md - 0.0625) !default; // till 769px
$screen-md-max: ($screen-lg - 0.0625) !default; // till 991px
$screen-lg-max: ($screen-xl - 0.0625) !default; // till 1199px
$screen-xlg-max: ($screen-xlg - 0.0625) !default; // till 1399
$white: #fff;
$black: #000;
$dark-blue: #25272C;
$light-blue: #5C6570;
$light-grey: #EBEBE6;

/* fonts */

$main-font: 'Roboto', sans-serif;;
$title-font: 'Roboto', sans-serif;;
$default-fonts: $main-font,
'sans-serif';
$title-fonts: $title-font,
$main-font,
'sans-serif';